<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <i class="bi bi-graph-up-arrow"></i> Financial Intelligence Hub
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="#" id="nav-dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="nav-stocks">Stocks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="nav-indicators">Economic Indicators</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="nav-correlation">Correlation Analysis</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="nav-options">Options Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-binance" href="#">
                        <i class="bi bi-currency-bitcoin"></i> Binance
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-ibkr" href="#">
                        <i class="bi bi-briefcase-fill"></i> Interactive Brokers
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="nav-transcripts" href="#">
                        <i class="bi bi-file-earmark-text"></i> Earnings Transcripts
                        </a>
                    </li>
                </ul>
            </div>
            <div class="d-flex">
                <div class="input-group">
                    <input type="text" class="form-control" id="symbol-search" placeholder="Search symbols...">
                    <button class="btn btn-outline-light" type="button" id="search-button">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </div>
        </div>
    </nav>
</header>